mixin technology
    .technology
        .container-fluid 
            .i-title Технологии и оборудование, разработанные <br>нашими специалистами
            .technology-list
                .technology-item 
                    span Ферритизация – удаление тяжелых металлов из стоков в виде ферритов;
                .technology-item 
                    span Окисление трудноокисляемых органических веществ методом Фентона;
                .technology-item 
                    span Отстойник с равноскоростными потоками;
                .technology-item 
                    span Блок мультигидроциклонов;
                .technology-item 
                    span Окисление трудноокисляемых органических веществ с использованием «жёсткого» ультрафиолета и пероксида водорода;
                .technology-item 
                    span Электрохимическое восстановление шестивалентного хрома Сr(6+) на инертных пористых электродах без использования реагентов-восстановителей;
                .technology-item 
                    span Электролизер для восстановления шестивалентного хрома Сr(6+);
                .technology-item 
                    span Коалесцентные фильтры и коалесцентные установки разных типов для очистки сточных вод от минеральных масел и нефтепродуктов;

