@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/avenirnextcyr-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/avenirnextcyr-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
body {

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #191919;
    line-height: 1.53;
}
.container-fluid {
    max-width: 1230px;
}
.s-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #A5A1A1;
    margin-bottom: 18px;
}
.i-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    text-transform: uppercase;
    color: #191919;
    margin-bottom: 15px;  
    @include small {
        font-size: 19px;
    }  
}
.b-title {
    font-size: 23px;
    text-transform: uppercase;
    color: #191919;
    font-weight: 700;
}
.title {
    font-size: 35px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    position: relative;
    padding-bottom: 33px;
    margin-bottom: 32px;
    &:after {
        content: '';
        width: 129px;
        height: 1px;
        bottom: 0;
        left: 0;
        position: absolute;
        background: #55D2FF;
    }
}
.details-link {
    font-size: 17px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: underline;
    color: #009AD2;
    background-image: url(../images/details.svg);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 44px;
    display: inline-block;
    &:hover {
        color: #55D2FF;
    }
}
h1 ,
.h1 {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 22px;
    @include small {
        font-size: 25px;
    }
}
.sub-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 40px;
    span {
        font-size: 18px;
        font-weight: 400;
        display: block;
        text-transform: none;
    }
}
main {
    margin-bottom: 87px;
    &.laboratory-main , &.page--main {
        margin-bottom: 0;
    }
    @include medium {
        margin-bottom: 0;
    }
}
.img-response {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.page-title {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.pages-link {
    color: currentColor;
}
.socials {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    &-list {
        margin-left: 15px;
        display: flex;

    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 41.86px;
        height: 32.2px;
        background: #040707;
        transition: 0.3s;
        &:not(:last-child) {
            margin-right: 20px;
        }
        &:hover {
            background: #55D2FF;
        }
    }
}
.page--main p {
    font-size: 17px;
}
.btn {
    width: 247px;
    height: 61px;
    border: 1px solid #009AD2;
    border-radius: 0;
    line-height: 61px;
    padding: 0;
    color: #009AD2;
    font-weight: 500;
    &:hover {
        color: #ffffff;
        background-color: #009AD2;
    }
}
.page-articles {
    background: #F7F7F7;
    
    padding: 60px 0;
}
