mixin com-list
    .com-list
        .container-fluid
            .small-bold Компания объединяет ведущих экспертов из следующих областей для решения задач, поставленных клиентами:
            .com
                a(href="").com-item
                    .com-item__icon
                        img(src="images/svg/con-1.svg", alt="")
                    .com-item__name Маркетинг
                a(href="").com-item
                    .com-item__icon
                        img(src="images/svg/con-2.svg", alt="")
                    .com-item__name Механическая и химическая технология древесины 
                a(href="").com-item
                    .com-item__icon
                        img(src="images/svg/con-3.svg", alt="")
                    .com-item__name Финансы

                a(href="").com-item
                    .com-item__icon
                        img(src="images/svg/con-4.svg", alt="")
                    .com-item__name Проектирование
                a(href="").com-item
                    .com-item__icon
                        img(src="images/svg/con-5.svg", alt="")
                    .com-item__name Энергетика
                a(href="").com-item
                    .com-item__icon
                        img(src="images/svg/con-6.svg", alt="")
                    .com-item__name Экология
