extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/laboratory/laboratory.pug
include ../blocks/technology/technology.pug

include ../components/breadcrumbs/breadcrumbs.pug
block title
    +head('Лаборатория')        
block pagecontent
    +header()
    .header_services(style="background-image: url(images/header_services-9.jpg);")
        .container-fluid
            +breadcrumbs()
                +breadcrumbs-item('Главная', 'index.html')
                +breadcrumbs-item('Лаборатория', '') 
            h1 Лаборатория
            p Сотрудничество с технологической лабораторией «Адвис плюс» - это уверенность в результате, <br>прозрачное взаимодействие и высочайшая эффективность при решении сложных задач.
    main.laboratory-main
        .container-fluid    
            +laboratory
        +technology
    +footer