extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/index-services/index-services.pug
include ../blocks/company-mission/company-mission.pug
include ../blocks/partners/partners.pug
include ../blocks/footer/footer.pug
include ../blocks/services-slider/services-slider.pug
include ../blocks/object-block/object-block.pug
include ../blocks/reconstruction/reconstruction.pug

include ../blocks/object-block/object-block.pug
include ../components/breadcrumbs/breadcrumbs.pug



block title
    +head('Объекты промышленного назначения')        
block pagecontent
    +header()
    .header_services(style="background-image: url(images/header_services-5.jpg);")
        .container-fluid
            +breadcrumbs('object')
                +breadcrumbs-item('Главная', 'index.html')
                +breadcrumbs-item('Услуги', 'services.html') 
                +breadcrumbs-item('Cтроительно-монтажные работы', 'cmr.html') 
                +breadcrumbs-item('Объекты промышленного назначения', '') 
            h1 Объекты промышленного назначения
            
    +object-block 
    +reconstruction     
    +footer       