extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/index-services/index-services.pug
include ../blocks/company-mission/company-mission.pug
include ../blocks/partners/partners.pug
include ../blocks/footer/footer.pug
include ../components/breadcrumbs/breadcrumbs.pug


block title
    +head('Серсивы')        
block pagecontent
    +header()
    .header_services(style="background-image: url(images/header_services-1.jpg);")
        .container-fluid
            +breadcrumbs()
                +breadcrumbs-item('Главная', 'index.html')
                +breadcrumbs-item('Услуги', '') 
            h1 Услуги
            p Соображения высшего порядка, а также рамки и место обучения кадров играет важную роль в формировании соответствующих условий активизации. Практический опыт показывает, что новая модель организационной деятельности в значительной степени обуславливает создание ключевых компонентов планируемого обновления. 
    .list-services
    +company-mission
    +partners
    +footer    