mixin consulting-faces
    .consulting-faces
        .container-fluid
            .person-list
                .person
                    .person__info
                        .person__avatar
                            img(src="images/face.jpg", alt="")
                        .person__name Константин Александрович Иванов
                        .person__position Руководитель проекта, кандидат технических наук
                    .person__desc
                        .person__d Совладелец и Операционный директор IM Consulting Group Бизнес-партнер ООО «Адвис Плюс»
                        p Константин является экспертом в области технологии целлюлозно-бумажного производства, реализации проектов в ЦБП и ЛПК РФ. Опыт работы в отрасли <strong>более 14 лет, в том числе 7 лет</strong> в консалтинге крупных проектов. 
                        p Образование – высшее техническое (инженер-технолог химической переработки древесины), кандидат технических наук. Автор кандидатской диссертации «Влияние качества щепы на величину и вариацию характеристик сульфатной целлюлозы» (2009 г.), имеет 7 печатных работ, соавтор патента «Способ получения фитостерина» (RU 2 569 688 C1)

                .person
                    .person__info
                        .person__avatar
                            img(src="images/face2.jpg", alt="")
                        .person__name Сергей Валентинович Мартюшев
                        .person__position Совладелец и Операционный директор IM Consulting Group Бизнес-партнер ООО «Адвис Плюс»
                    .person__desc
                        .person__d Совладелец и Операционный директор IM Consulting Group Бизнес-партнер ООО «Адвис Плюс»
                        p Сергей является Экспертом в сфере корпоративных финансов, финансового моделирования и бизнес-планирования крупных проектов. 
                        p Образование - высшее техническое и финансовое. Опыт работы в сфере корпоративных и банковских финансов более 15 лет. Опыт работы в консалтинге крупных проектов более 10 лет.




