mixin faq
    .faq
        .container-fluid
            .i-title Эксперты компании участвовали в реализации <br>следующих проектов:
            #accordionExample.accordion
                .card
                    #headingOne.card-header.collapsed(data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                        strong Технологическая экспертиза:
                        .arrow-col
                            <svg width="24" height="11" viewBox="0 0 24 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.7778 1.29176L12.8945 9.29126L1.39462 1.90807" stroke="#989797" stroke-width="2"/>
                            </svg>

                    #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordionExample')
                        .card-body
                            ul.list
                                li Маркетинговые исследования рынков биотоплива, товарной целлюлозы, бумаги, картона.
                                li Технический и технологический аудит производства (due-diligence).
                                li Консалтинг в области оптимизации технологических процессов (debottlenecking).
                                li Project management.
                                li Финансовый аудит проектов и финмоделирование.
                                li Привлечение финансирования проектов.
                                li Разработка бизнес-планов (концепций) инвестиционных проектов.
                                li Научные исследования и разработка технологических процессов.                            
                .card
                    #headingTwo.card-header.collapsed( data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                        strong Финансовый аудит проектов и финмоделирование:
                        .arrow-col
                            <svg width="24" height="11" viewBox="0 0 24 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.7778 1.29176L12.8945 9.29126L1.39462 1.90807" stroke="#989797" stroke-width="2"/>
                            </svg>                        
                    #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                        .card-body
                            ul.list
                                li Маркетинговые исследования рынков биотоплива, товарной целлюлозы, бумаги, картона.
                                li Технический и технологический аудит производства (due-diligence).
                                li Консалтинг в области оптимизации технологических процессов (debottlenecking).
                                li Project management.
                                li Финансовый аудит проектов и финмоделирование.
                                li Привлечение финансирования проектов.
                                li Разработка бизнес-планов (концепций) инвестиционных проектов.
                                li Научные исследования и разработка технологических процессов.                          
                .card
                    #headingThree.card-header.collapsed( data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                        strong Разработка бизнес-планов (концепций) инвестиционных проектов:
                        .arrow-col
                            <svg width="24" height="11" viewBox="0 0 24 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.7778 1.29176L12.8945 9.29126L1.39462 1.90807" stroke="#989797" stroke-width="2"/>
                            </svg>                                  
                    #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                        .card-body
                            ul.list
                                li Маркетинговые исследования рынков биотоплива, товарной целлюлозы, бумаги, картона.
                                li Технический и технологический аудит производства (due-diligence).
                                li Консалтинг в области оптимизации технологических процессов (debottlenecking).
                                li Project management.
                                li Финансовый аудит проектов и финмоделирование.
                                li Привлечение финансирования проектов.
                                li Разработка бизнес-планов (концепций) инвестиционных проектов.
                                li Научные исследования и разработка технологических процессов. 
                .card
                    #collapseFour.card-header.collapsed( data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                        strong Маркетинг:
                        .arrow-col
                            <svg width="24" height="11" viewBox="0 0 24 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.7778 1.29176L12.8945 9.29126L1.39462 1.90807" stroke="#989797" stroke-width="2"/>
                            </svg>                                  
                    #collapseFour.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                        .card-body
                            ul.list
                                li Маркетинговые исследования рынков биотоплива, товарной целлюлозы, бумаги, картона.
                                li Технический и технологический аудит производства (due-diligence).
                                li Консалтинг в области оптимизации технологических процессов (debottlenecking).
                                li Project management.
                                li Финансовый аудит проектов и финмоделирование.
                                li Привлечение финансирования проектов.
                                li Разработка бизнес-планов (концепций) инвестиционных проектов.
                                li Научные исследования и разработка технологических процессов.                                     