mixin services-slider()
    section.services-block-sl 
        .container-fluid
            h2.sub-title Мы предлагаем для своих клиентов следующие услуги, 
                span включающие в себя полный цикл работ, предшествующих новому строительству:
            .services-content
                .services-slider
                    .swiper-container.services-slider__slider
                        .swiper-wrapper
                            .swiper-slide
                                p Полный и частичный демонтаж зданий и сооружений любой сложности, в том числе промышлен-ных объектов, включая выполнение работ без прерывания производственного цикла действующих предприя-тий;
                            .swiper-slide
                                p Полный и частичный демонтаж зданий и сооружений любой сложности, в том числе промышлен-ных объектов, включая выполнение работ без прерывания производственного цикла действующих предприя-тий;
                            .swiper-slide
                                p Полный и частичный демонтаж зданий и сооружений любой сложности, в том числе промышлен-ных объектов, включая выполнение работ без прерывания производственного цикла действующих предприя-тий;
                            .swiper-slide
                                p Полный и частичный демонтаж зданий и сооружений любой сложности, в том числе промышлен-ных объектов, включая выполнение работ без прерывания производственного цикла действующих предприя-тий;                                                                                                
                    .services-slider__button
                        .services-block-button-next
                        .services-block-button-prev
                    .swiper-pagination