mixin partners 
    .partners
        .container-fluid
            .title Наши партнёры
            .partners-slider-container
                .swiper-container.partners-slider
                    .swiper-wrapper
                        .swiper-slide
                            .partner-item
                                img(src="images/image_9.jpg", alt="")
                        .swiper-slide
                            .partner-item
                                img(src="images/image_10.jpg", alt="")
                        .swiper-slide
                            .partner-item
                                img(src="images/image_11.jpg", alt="")
                        .swiper-slide
                            .partner-item
                                img(src="images/image_12.jpg", alt="")
                        .swiper-slide
                            .partner-item
                                img(src="images/image_13.jpg", alt="")
                .partners-paginator
                    .partners-button-prev.swiper-button-prev
                    .partners-button-next.swiper-button-next                                               
