.partners {
    background-color: #F4F4F7;
    padding-bottom: 43px;
    padding-top: 80px;
    margin-top: -68px;
    @include medium {
        margin-top: 0;
    }
    .title {
        margin-bottom: 0;
        &:after {
            display: none;
        }
    }
    
}
.partners-slider {
    margin: 0 50px;
    &-container {
        position: relative;
    }
}
.partner-item {
    width: 209px;
    height: 105px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-width: 90%;
    }
}
.partners-paginator {
    position: absolute;
    width: 100%;
    display: flex;
    top: 32px;
    justify-content: space-between;
}
.partners-button-prev ,
.partners-button-next {
    cursor: pointer;
    z-index: 5;
    outline: none;
    &:after {
        font-size: 30px;
        color: #D1D0D0;
        transition: 0.3s;
    }
    &:hover {
        &::after {
            color: #55D2FF;
        }
    }
}