mixin articles
    .articles-list
        articles.articles   
            .articles__images
                img(src="images/r1.jpg", alt="")
            .articles__content 
                a(href="").articles__title 
                    span Запись №1
                .date 22/01/2020
                p.articles__text Повседневная практика показывает, что повышение уровня гражданского сознания в значительной степени обуславливает создание форм воздействия. Дорогие друзья, повышение уровня гражданского сознания позволяет оценить значение всесторонне
        articles.articles   
            .articles__images
                img(src="images/r1.jpg", alt="")
            .articles__content 
                a(href="").articles__title 
                    span Запись №2
                .date 22/01/2020
                p.articles__text Повседневная практика показывает, что повышение уровня гражданского сознания в значительной степени обуславливает создание форм воздействия. Дорогие друзья, повышение уровня гражданского сознания позволяет оценить значение всесторонне
        articles.articles   
            .articles__images
                img(src="images/r1.jpg", alt="")
            .articles__content 
                a(href="").articles__title 
                    span Запись №3
                .date 22/01/2020
                p.articles__text Повседневная практика показывает, что повышение уровня гражданского сознания в значительной степени обуславливает создание форм воздействия. Дорогие друзья, повышение уровня гражданского сознания позволяет оценить значение всесторонне
        articles.articles   
            .articles__images
                img(src="images/r1.jpg", alt="")
            .articles__content 
                a(href="").articles__title 
                    span Запись №4
                .date 22/01/2020
                p.articles__text Повседневная практика показывает, что повышение уровня гражданского сознания в значительной степени обуславливает создание форм воздействия. Дорогие друзья, повышение уровня гражданского сознания позволяет оценить значение всесторонне
    .pagination
        a(href="").pagination__arrow.pagination__arrow--prev
        a(href="").pagination__link 1
        a(href="").pagination__link 2
        a(href="").pagination__link 3
        a(href="").pagination__link 4
        a(href="").pagination__link 5
        a(href="").pagination__link _
        a(href="").pagination__link 10
        a(href="").pagination__arrow.pagination__arrow--next

