mixin head(page_title)
    head
        meta(charset='UTF-8')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='viewport', content="width=device-width")
        meta(name='theme-color', content='#ffffff')
        title #{page_title}
        script(src="js/libs.min.js")
        script(src="js/script.js")
        link(rel='stylesheet', href='style/libs.min.css')
        link(rel='stylesheet', href='style/main.css')

