
.footer {
    background-color: #000000;
    padding: 37px 0 23px;
    &__content {
        padding: 0 0 25px;
        display: flex;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 22px;
    }
    &-text {
        display: flex;
        color: #ffffff;
        font-size: 16px;
        justify-content: space-between;
    }
}