mixin footer    
    footer.footer
        .container-fluid
            .footer__content
                a(href="").logo
                .nav
                    .nav__item
                        .nav__contain
                            a(href="").nav__link Главная
                    .nav__item
                        .nav__contain
                            a(href="").nav__link.nav__link--dropdown Услуги
                            .nav__dropdown
                    .nav__item
                        .nav__contain
                            a(href="").nav__link Консалтинг
                    .nav__item
                        .nav__contain
                            a(href="").nav__link Лабаратория
                    .nav__item
                        .nav__contain
                            a(href="").nav__link Научная деятельность
                    .nav__item
                        .nav__contain
                            a(href="").nav__link Контакты        
            .footer-text
                p АдвисПлюс - все права защищены.
                .phone Телефон: 
                    a(href="tel:+78123333332").phone__link 8(812)333-33-32 
