mixin laboratory
    .laboratory
        .laboratory__main
            .laboratory__left
                img(src="images/laboratory-1.jpg", alt="")
            .laboratory__right.laboratory--padding
                .i-title Технологическая лаборатория очистки сточных вод компании «Адвис плюс».
                p Компания «Адвис плюс» с 2015года начала выполнять проекты очистных сооружений. По мере привлечения опытных специалистов и увеличения сложности разрабатываемых проектов, назрела необходимость в создании опытно-исследовательского подразделения компании.
                p К началу второго квартала 2017года был утверждён план организации собственной лаборатории, и уже в июле того же года технологический сектор был усилен новым подразделением.
        .laboratory__main
            .laboratory__left.laboratory--padding
                strong На сегодняшний день задачами, технологической лаборатории «Адвис плюс», является:
                ul.list
                    li разработка технологических разделов проектной документации по модернизации, реконструкции и строительству очистных сооружений;
                    li подбор оптимальной технологии и оборудования для очистки сточных вод;
                    li базовый инжиниринг очистных сооружений, систем водоотвода и водоподготовки;
                    li аудит существующих систем очистки воды с детальным анализом данных и рекомендациями по улучшению технологических параметров;
                    li разработка технологических регламентов очистных сооружений;
                    li разработка и контроль производства нестандартного оборудования для очистки сточных вод;
                    li исследование и моделирование технологических процессов очистки воды;
            .laboratory__right
                img(src="images/laboratory-2.jpg", alt="")