mixin index-services()
    .index-services
        .services-block
            a(href="#" style="background-image: url(images/image_19.jpg)").service
                .service__content
                    .service__number 
                        span 1
                    .service__desc Проектирование
                    .link Подробнее
            a(href="#" style="background-image: url(images/image_20.jpg)").service
                .service__content
                    .service__number 
                        span 2
                    .service__desc Демонтаж
                    .link Подробнее
            a(href="#" style="background-image: url(images/image_21.jpg)").service
                .service__content
                    .service__number 
                        span 3
                    .service__desc Строительно-<br>монтажные <br>работы
                    .link Подробнее
                    
