mixin company-mission
    .company-mission
        .container-fluid
            .company-mission-block
                .company-mission__text
                    .s-title Наша миссия
                    .title Адвес плюс <br>надёжный партнёр
                    p С другой стороны консультация с профессионалами из IT способствует повышению актуальности системы масштабного изменения ряда параметров. Разнообразный и богатый опыт постоянное информационно-техническое обеспечение нашей деятельности.
                    p С другой стороны рамки и место обучения кадров обеспечивает актуальность дальнейших направлений развития проекта. 
                    a(href="").details-link Подробнее
                .company-mission__slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .item(style="background-image: url(images/slider-img.jpg)")
                        .swiper-slide
                            .item(style="background-image: url(images/slider-img.jpg)")
                        .swiper-slide
                            .item(style="background-image: url(images/slider-img.jpg)")
                    .slider-paginator
                        .swiper-button-prev
                        .swiper-button-next
