mixin licenses
    .licenses-list
        .licenses-item
            .licenses-item__content
                img(src="images/licenses.jpg", alt="")
                .loop
            .s-title Благодарственное письмо
        .licenses-item
            .licenses-item__content
                img(src="images/licenses.jpg", alt="")
                .loop
            .s-title Благодарственное письмо
        .licenses-item
            .licenses-item__content
                img(src="images/licenses.jpg", alt="")
                .loop
            .s-title Благодарственное письмо
        .licenses-item
            .licenses-item__content
                img(src="images/licenses.jpg", alt="")
                .loop
            .s-title Благодарственное письмо
        .licenses-item
            .licenses-item__content
                img(src="images/licenses.jpg", alt="")
                .loop
            .s-title Благодарственное письмо
        .licenses-item
            .licenses-item__content
                img(src="images/licenses.jpg", alt="")
                .loop
            .s-title Благодарственное письмо