mixin consulting
    .consulting-block
        .consulting
            .company-mission__slider.company-mission__slider--consulting.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .item(style="background-image: url(images/img-1.jpg)")
                    .swiper-slide
                        .item(style="background-image: url(images/slider-img.jpg)")
                    .swiper-slide
                        .item(style="background-image: url(images/slider-img.jpg)")
                .slider-paginator
                    .swiper-button-prev
                    .swiper-button-next
            .consulting__text
                .c-title ООО «АйЭм Консалтинг Групп» (IM Consulting Group)
                p Была основана в 2015 г. для оказания консалтинговых услуг предприятиям лесной, целлюлозно-бумажной и смежных отраслей.
                strong Ключевые направления деятельности:
                ul.list
                    li Маркетинговые исследования рынков биотоплива, товарной целлюлозы, бумаги, картона.
                    li Технический и технологический аудит производства (due-diligence).
                    li Консалтинг в области оптимизации технологических процессов (debottlenecking).
                    li Project management.
                    li Финансовый аудит проектов и финмоделирование.
                    li Привлечение финансирования проектов.
                    li Разработка бизнес-планов (концепций) инвестиционных проектов.
                    li Научные исследования и разработка технологических процессов.
        p Общий объем инвестиций по более чем 100 проектам, в которых принимали участие эксперты IM Consulting Group, составляет 9 миллиардов долларов США.


    